  .affix {
     top: 0;
      width: 100%;
      background-color: #2C2E3A;
      opacity:0.8;
      -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .affix nav a#top {
	color:#F2F2F2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0);
  }
 .affix nav a#top:hover{
 	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	border:2px solid #F2F2F2;

}
.affix #atual{
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	color: #F2F2F2;
	border:2px solid #F2F2F2;
}
.header{
	height: 450px; 
	width: 100%;
	background: url("../img/bg.png");
	position: absolute;
	background-size: cover;
	top:0;
	left:0;
	right: 0;
	-webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
}

.logo img{
	z-index: 1;
	position:absolute;
	height: 70px;
	width: 70px;
	left: 100px;
	top: 13px;
}
.nav_bar{
	z-index: 1;
	height:100px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
nav#main{
	z-index: 1;
	margin-top: 40px;
	margin-right: 50px;
	float: right;
}
nav a#top{
	z-index: 1;
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;
	border: 2px solid rgba(255, 255, 255, 0);
	margin-left: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	text-decoration: none;
	color: #2C2E3A;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.5s ease;
	-webkit-transition: border 0.5s ease;
}
nav a#top:hover{
	z-index: 1;
	border:2px solid #2C2E3A;

}
#atual{
	z-index: 1;
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	text-decoration: none;
	color: #2C2E3A;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	border:2px solid #2C2E3A;
}
.titulo{
	z-index: 0;
	position:absolute;
	top:150px;
	left:80px;
	padding-left:20px;
	font-family: Arial, sans-serif;
	color: #2C2E3A;
	text-align:center;
}
#quote{
	z-index: 0;
	color:#ff5759;
	font-size: 18px;
}
#tit{
	z-index: 0;
	color: #2C2E3A;
	font-size: 28px;
}
.sobre{
	z-index: 0;
	font-family: 'PT Sans', sans-serif;
	top: 500px;
	color: #929292;
	height: 440px;
	position: absolute;
	text-align: left;
	font-size: 17px;
	width: 40%;
	font-size: 10;
	-webkit-column-count: 1;
	column-gap: 40px;
	left: 130px;
}
.smartlogo{
	display: none;
		position: absolute;
		top:25px;
		right: 75px;
		width:50px;
		height:50px;
}

.logodir{
	z-index: 0;
	top: 550px;
	width:30%;
	right:100px;
	position:absolute;
}

.logodir img{
	height: 300px;
	width: 300px;
}
.line{
	z-index:-1;
	position:absolute;
	top: 950px;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
    border-top:1px solid #929292;
    width:80%;
}
#map {
	z-index: 0;
   	width: 50%;
    height: 400px;
	top: 1100px;
	position:absolute;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
    }
.local{
	position:absolute;
	top: 1000px;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color:#929292;
}
.local h3{
	color:#2C2E3A;
}
.line1{
	position:absolute;
	top: 1550px;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
    border-top:1px solid #929292;
    width:65%;
}
.contact{
	position:absolute;
	top: 1600px;
	left: 100px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
}
.logos{
	text-align: center;
}
#l1{
	position:absolute;
	top: 1670px;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
    text-align:center;
    list-style: none;
    padding:13px;
	padding-bottom:30px;
}
#l1 li{	
	margin:15px 15px 15px 15px;
	padding:35px 12px 35px 12px;
	display:inline;
	list-style-type: none;
	border-radius: 50%;
	opacity:0.5;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#l1 li:hover{
	opacity:1;
	width:100px;
}
.cr{
	position: absolute;
	top:1800px;
	color: #2C2E3A;
	margin-bottom: 10px;
	font-size: 12px;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
	text-align: center;
	font-family: Arial, sans-serif;
}
input{
		display: none;
	}
.oi{
	display:none*;
}
#phone{
	display: none;
}
@media (max-width: 1000px) and (min-width: 781px){
	nav a#top{
	z-index: 1;
	text-transform: uppercase;
	padding: 5px;
	border: 2px solid rgba(255, 255, 255, 0);
	margin-left: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	text-decoration: none;
	color: #2C2E3A;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.5s ease;
	-webkit-transition: border 0.5s ease;
}
nav a#top:hover{
	z-index: 1;
	border:2px solid #2C2E3A;

}
#atual{
	z-index: 1;
	text-transform: uppercase;
	padding: 5px;
	margin-left: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	text-decoration: none;
	color: #2C2E3A;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	border:2px solid #2C2E3A;
}
	.logo img{
		left:80px;
	}
}
@media (max-width: 780px){
	.smartlogo{
		display:block;
		cursor: pointer;
		align-items:center;
	}
	.logo img{
		left:75px;
	}

	span{
		right:0;
		left:0;
		margin-left:auto;
    	margin-right:auto;
		opacity:1;
		z-index: 3;
		height:2px;
		background-color: #2C2E3A;
		display:block;
		border-radius: 20%;
		position:relative;
		width:100%;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;

	}
	span#meio{
		height:2px;
		top:22px;
	}
	span#meio1{
		height:2px;
		top:22px;
		margin-top: -2px;
	}
	span#baixo{
		top:44px;

	}
	#toggle-nav:not(checked) ~ .oi{
		display:none;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	#toggle-nav:checked ~ .oi{
		display:block;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	
	.meiojq{
		transform-origin:center;
		transform:rotate(-45deg);
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}	
	.meio1jq{
		transform-origin:center;
		transform:rotate(45deg);
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.affix span{
		background-color: #f2f2f2;
	}
  .logodir{
	display: none;
}
.logodir img{
	display:none;
}
.sobre{
	z-index: 0;
	font-family: 'PT Sans', sans-serif;
	top: 200px;
	color: #929292;
	height: 440px;
	position: absolute;
	text-align: center;
	font-size: 17px;
	width: 60%;
	right:0;
	left:0;
	z-index:-1;
	margin-left:auto;
    margin-right:auto;
}
.titulo{
	display:none;
}
.oi{
	z-index:5000;
	position:fixed;
	color:red;
	text-align: center;
	background-color: #2C2E3A;
	opacity:0.8;
	top:100px;
	width:100%;
	height:100%;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	text-align: center;
}
.affix .oi{
	opacity:1;
}
.header{
	background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#top{
	display:none;
}
#atual{
	display:none;
}
#phone{
	display:block;
	top: 200px;
	position:fixed;
	z-index: 2;
	padding:20px;
	right:0;
	left:0;
	margin-left:auto;
    margin-right:auto;
	width:30%;
	height:60%;
	text-align: center;
	text-decoration: none;
}
#phone li{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	height:30px;
	text-decoration: none;
	list-style: none;

}
ul a#top1{
	z-index: 2;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f2f2;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding:5px;
	letter-spacing: 1px;
	transition: border 0.5s ease;
	-webkit-transition: border 0.5s ease;
	text-align: center;
	border: 2px solid rgba(255, 255, 255, 0);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
}
ul a#atual1{
	padding:5px;
	border: 2px solid #f2f2f2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	min-height: 40px;
	z-index: 2;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f2f2;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.5s ease;
	-webkit-transition: border 0.5s ease;
	text-align: center;
}
.line{
	top:650px;
}
#map{
	top:840px;
}
.local{
	top:710px;
}
.line1{
	top:1350px;
}
.contact{
	top:1430px;
}
#l1{
	top:1500px;
}
.cr{
	top:1630px;
}
}