.header{
	height: 450px; 
	width: 100%;
	background: url("./bg.png");
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo img{
	height: 70px;
	width: 70px;
	margin-left: 100px;
	margin-top: 13px;
	float: left;
}

nav{
	margin-top: 40px;
	margin-right: 50px;
	float: right;
}
nav a{
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;
	border:2px solid #F2F2F2;
	margin-left: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	text-decoration: none;
	color: #2C2E3A;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.4s;
	-webkit-transition: border 0.4s;
}
nav a:hover{
	border:2px solid #2C2E3A;

}
#atual{
	border:2px solid #2C2E3A;
}
#quote{
	color:#ff5759;
	font-size: 18px;
}
#tit{
	color: #2C2E3A;
	font-size: 28px;
}

.description{
}
.sobre{
	font-family: 'PT Sans', sans-serif;
	margin-top: 500px;
	float: left;
	margin-left: 100px;
	border-right-style: solid;
	border-right-width: 2px;
	border-color:#2C2E3A;
	color: #929292;
	height: 440px;
	position: absolute;
	text-align: left;
	font-size: 17px;
	
	width: 30%;
	padding-right: 170px; 
	font-size: 10;
	-webkit-column-count: 1;
	column-gap: 40px;


}

.logodir{
	margin-top: 550px;
	float: right;
	padding-left: 100px;
	margin-right: 170px;
}

.logodir img{
	height: 300px;
	width: 300px;
}

.line1{
	margin-top: 700px;
}
.mapa{
}
