.header{
	height: 450px; 
	width: 100%;
	background: url("./bg.png");
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo img{
	height: 100px;
	width: 100px;
	margin-left: 100px;
	float: left;
}

nav{
	margin-top: 40px;
	margin-right: 50px;
	float: right;
}
nav a{
	margin-left: 25px;
	text-decoration: none;
	color: #2C2E3A;
	font-family: Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 1px;
	border: solid 0px #2C2E3A
	transition: border 0.3s;

}


.description{
}
.sobre{
	margin-top: 500px;
	float: left;
	margin-left: 100px;
	
	border-right: solid;
	border-color:#285E90;
	
	height: 400px;
	position: absolute;
	text-align: left;
	font-size: 18px;
	
	width: 40%;
	padding-right: 10px; 
	font-family: Arial, sans-serif;
	font-size: 10;
	-webkit-column-count: 1;
	column-gap: 40px;


}

.logodir{
	margin-top: 430px;
	float: right;
	margin-right: 170px;
}

.logodir img{
	height: 300px;
	width: 300px;
}

.line1{
	margin-top: 700px;
}